DATABASE_URI=mongodb+srv://hafizsaljok:hafiz123@my-projects.kgm5ddp.mongodb.net/dynamic-developer-portfolio
PAYLOAD_SECRET=e557969d7173133c088caed08663cacc09720133c5c38e6253868b42b915faa3
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

CLOUDFLARE_R2_ACCESS_KEY_ID=13f7cf6bf033ffffba8e3de96d1fcf6b
CLOUDFLARE_R2_SECRET_ACCESS_KEY=d9ca542addb2e76f798262167c37133b59ef5cce60c6cf0253d0f6a97c56b269
CLOUDFLARE_R2_BUCKET=portfolio-website-data
CLOUDFLARE_R2_ENDPOINT=https://935915a144abaa75aa628f86260742bd.r2.cloudflarestorage.com
CLOUDFLARE_R2_PUBLIC_URL=https://pub-1e66cdb9d9c442c0a51d804a94d18e2f.r2.dev

RESEND_API_KEY=re_bRSzKCEt_3CJZGwFWzxjTVap5BAtcz3GS
CONTACT_TO_EMAIL=hafizsaljok@gmail.com
CONTACT_FROM_EMAIL=Portfolio <onboarding@resend.dev>
REVALIDATE_SECRET=
